@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway:500');

#cardapio{
	display: table;
    width: 100%;
    padding: 65px 0;
    background-color: #a6a6a6;
}

#cardapio .center{
	width: 85%;
    margin: auto;
    display: table;
}
#cardapio h1{
	color: #363636;
    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
    line-height: 45px;
    margin-bottom: 30px;
    font-family: monospace;
}
.header{
	position: relative;
    margin-bottom: 30px;
    height: 320px;
    overflow: hidden;
}
#cardapio .header .bg{
	background-image:url(/RestauranteProjeto/Imagens/cardapio.jpg);
}

.header .bg{
	background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-color: #f4f8f9;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
}
.imagem {
	top: 0;
	position: relative;
	width: 100%;
}
.header .interno{
	position: absolute;
    bottom: 50%;
    top: 0;
    left: 150px;
    right: 0;
} 
#cardapio h2{
	text-transform: uppercase;
	color:white;
	letter-spacing: 1px;
	font-size: 60px;
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 150px;
}
#cardapio .body ul{
	padding-left: 0;
    list-style-type: none;
    padding-top: 10px;
}
#cardapio .categoria h3{
	font-weight: 400;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding-bottom: 7px;
    border-bottom-color: #FFBC47;
    padding-top: 7px;
}

#cardapio .categoria h3 a{
	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}
#cardapio .produto li{
	display: inline-block;
    vertical-align: top;
    width: 49.8%;
    box-sizing: border-box;
    margin-bottom: 8px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px;
}
#cardapio .produto li .prod{
	font-size: 30px;
	font-family: 'Josefin Sans', sans-serif;
}
#cardapio .produto li .nome{
	font-weight: 300;
    color: #36454f;
    vertical-align: top;
    padding-right: 4px;
    overflow: hidden;
}
#cardapio .produto li .preco{
	letter-spacing: 1px;
    vertical-align: bottom;
    text-align: right;
    padding-left: 10px;
    float: right;
    color: #36454f;
}
#cardapio .produto li .preco, #cardapio .produto li .nome {
	position: relative;
}

#rodape {
	height: 300px;
	width: 100%;
	background-color: #232323;
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center; 
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.7;
	position: relative;
	bottom: 0;
}

.menuRodape{ 
	border-bottom: #fff solid 1px;
	padding-bottom: 20px;
}
 
.footer ul.menuRodape li{
	display: inline-block;
    margin-right: 20px;
}
