@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400i');
* {
	padding: 0px;
	margin: 0px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute;
}

a{
	color: white;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
}
.tudo {
	width: 100%;
	height: 100%;
}

#header {
	width: 100%;
	height: 80px;
	background-color: rgba(0, 0, 0, .7);
}

#content {
	width: 100%;
	//height: 1800px;
	left: 0;
	top: 80px;
}

#rodape {
	height: 300px;
	width: 100%;
	top: 100%;
	background-color: #232323;
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center; 
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.7;
}
 
p { 
	position:relative;
	font-size: 20px;
	color: white;
}

.slider {
	top: 0;
	width: 100%;
}

.logo {
	width: 200px;
	float: left;
}
.logo2 {
	width: 350px;
}
 /*
#menu>ul, #menudireito>ul  {
	list-style-type: none;
	overflow: hidden;
}

#menu>li {
	float: left;
	list-style: none;
	width: 100px;
	height: 80px;
}

#menudireito>li {
	float: right;
	list-style: none;
	width: 100px;
	height: 80px;
}

#menu>li a , #menudireito>li a {
	font-size: 20px;
	display: block; 
	text-align: center;
	line-height: 80px;
}

#menu>li a:hover , #menudireito>li a:hover {
	background-color: #444;
	display: block;
}
 
#menu>li>ul, #menudireito>li>ul {
	display: none;
}

#menu li:hover ul, #menudireito li:hover ul{
	display: block;
	position: absolute;
}


#menu>ul>li>ul, #menudireito>ul>li>ul {
	list-style-type: none;
	overflow: hidden;
}

#menu>li>ul>li, #menudireito>li>ul>li {
	list-style: none;
	width: 100px;
	height: 80px;
}

#menu>li>ul>li a, #menudireito>li>ul>li a  {
	font-size: 20px;
	color: white;
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 80px;
	background-color: #808080;
}

#menu>li>ul>li a:hover {
	background-color: #444;
	text-decoration: none;
	display: block;

}*/
.menuRodape{ 
	border-bottom: #fff solid 1px;
	padding-bottom: 20px;
}
 
.footer ul.menuRodape li{
	display: inline-block;
    margin-right: 20px;
}

	#menudireito {
        float: right;
    }
    .menu{
        width: 100%;
        height: 80px;
        background-color: #444;
    }
    .menu ul{
        list-style: none;
        position: relative;
    }
    .menu ul li {
        width: 100px;
        float: left;
    }
    .menu a{
        padding: 30px 0px 30px 0px;
        display: block;
        text-decoration: none;
        text-align: center;
        background-color: #444;
        color: #fff;
    }
    .menu ul ul {
        position: absolute;
        visibility: hidden;
        z-index: 100;
    } 
    .menu ul li:hover ul{
        visibility: visible;
    }
    .menu a:hover{
        background-color: #808080;

    }
    .menu ul ul li{
        float: none;
        border-bottom: solid 1px #ccc;
    }
    .menu ul ul li a{
        background-color: rgb(15, 44, 59);
    }
    label[for="bt_menu"]{
        padding: 5px;
         
        color: #fff;
        font-family: "Arial";
        text-align: center;
        cursor: pointer;
        font-size: 30px;
        width: 50px;
        height: 50px;
    }
    #bt_menu{
        display: none;
    }
    label[for="bt_menu"]{
            display: none;
    }
    @media(max-width: 800px){
        label[for="bt_menu"]{
            display: block;
            position: absolute;
            padding: 15px;
        }
        #bt_menu:checked ~ .menu{
            margin-left: 0;
        }
        .menu{
            margin-top: 13px;
            margin-left: -100%;
            transition: all .4s;
        }
        .menu ul{
        	z-index: 100;
        }
        .menu ul li{
            width: 100%;
            float: none;
        }
        .menu ul ul{
            position: static;
            overflow: hidden;
            max-height: 0;
            transition: all .4s;
        }
        .menu ul li:hover ul{
            height: auto;
            max-height: 200px;
        }
        .menudireito{
            float: none;
        }
        .imagemlogo{
       		display: flex;
			justify-content: center;
			align-items: center;
        }
		
    }
/*
#menudireito>li>ul>li {
	display: none;
}
#menudireito>li>ul>li .sair:hover{
	display: block;
}
*/